.container{
    /* padding: 3px; */
    text-align: center;
    margin: auto;
    white-space:initial;
    /* width: 0%; */
}
.button1{
    /* border: 3px red solid; */
    margin: 10px;
    padding: 3px;
    color: rgb(175, 119, 45);
    width: auto;
}

/* .button3{
    
} */